.row {

    &--gutters {
        margin-right: -64px;
    }
   
    &--gutters-large {
        margin-right: -100px;
    }

    &--gutters >div {
        padding-right: 64px;
    }

    &--gutters-large >div {
        padding-right: 100px;
    }

    @mixin clearfix{}; 

    &__margin-b-until-medium {
        margin-bottom: 1rem;
    }
    
    @mixin atMedium{

        &__margin-b-until-medium {
            margin-bottom: 0;
        }
        
        &__medium-4{
            float: left;
            max-width: 33.33%;
        }

        &__medium-4-large{
            float: left;
            max-width: 37%;
        }

        &__medium-6 {
            float: left;
            max-width: 50%;
        }
        
    
        &__medium-8{
            float: right;
            max-width: 66.66%;
        }

        &__medium-8-small{
            float: left;
            max-width: 63%;
        }

    }

   
}